<IfModule mod_headers.c>
    # Cache de arquivos de imagem por 1 mês
    <FilesMatch "\.(jpg|jpeg|png|gif|ico|webp)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>

    # Cache de arquivos CSS e JS por 1 semana
    <FilesMatch "\.(css|js)$">
        Header set Cache-Control "max-age=604800, public"
    </FilesMatch>

    # Cache de PDFs por 1 mês
    <FilesMatch "\.(pdf)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>

    # Cache de fontes por 1 mês
    <FilesMatch "\.(woff|woff2|ttf|eot|otf)$">
        Header set Cache-Control "max-age=2592000, public"
    </FilesMatch>

    # Não fazer cache de arquivos HTML (opcional, se você quiser que sejam atualizados com mais frequência)
    <FilesMatch "\.(html|htm|php)$">
        Header set Cache-Control "max-age=0, no-cache, no-store, must-revalidate"
    </FilesMatch>

    # Adicionando o cabeçalho Vary para garantir o cache correto
    Header append Vary: Accept-Encoding
</IfModule>

# Habilitar compressão Gzip
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css
    AddOutputFilterByType DEFLATE application/javascript application/x-javascript application/xml
    AddOutputFilterByType DEFLATE application/rss+xml application/atom+xml application/json
    AddOutputFilterByType DEFLATE image/svg+xml
</IfModule>
