/* about.css */
.background-fabrica {
    background-color: #f0f8ff; /* Fundo claro */
    padding: 50px 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os cards */
}

.flip-card {
    background-color: transparent;
    width: 300px; /* Ajustar conforme necessário */
    height: 350px; /* Ajustar conforme necessário */
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flip-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flip-card-front img {
    width: 100%; /* Preenche o card */
    height: 70%; /* Ajuste conforme necessário */
    object-fit: cover; /* Preenche o espaço sem distorção */
}

.year {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #87CEEB; /* Cor de fundo do ano */
    padding: 5px 10px;
    border-radius: 5px;
    color: #272424; /* Cor do texto */
    font-weight: bold; /* Texto em negrito */
}

.flip-card-back {
    background-color: #87CEEB; /* Cor de fundo para o verso do card */
    color: #272424; /* Texto em cinza escuro */
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flip-card-back h2 {
    margin: 0 0 10px 0;
}

.flip-card-back p {
    margin: 0;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .card-container {
        flex-direction: column; /* Alinha os cards em coluna em telas menores */
        align-items: center; /* Centraliza os cards */
    }

    .flip-card {
        width: 90%; /* Faz os cards ocuparem mais espaço em telas menores */
    }
}
