/* assets/css/header.css */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0; /* Remove margem padrão do body */
    padding: 0; /* Remove padding padrão do body */
}

.navbar {
    background-color: #003366; /* Azul escuro */
    margin-bottom: 0; /* Remove qualquer margem inferior */
}

#cabecalho {
    padding: 0; /* Remove padding interno do cabeçalho */
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #003366; /* Cor do texto ativo */
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover {
    color: #fff; /* Cor do texto */
}

.navbar-toggler {
    background-color: #fff; /* Cor do botão do menu */
    margin-top: 0; /* Garante que não há margem superior */
}

.section-title {
    font-family: 'Pacifico', cursive;
}

.text-colored {
    color: #003366; /* Cor personalizada */
}

.nav-cardapio .nav-link.active,
#contato button {
    background-color: #003366; /* Cor do botão ativo */
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #005bb5; /* Cor ao passar o mouse */
}

#logo-header {
    width: 150px; /* Definindo a largura do logo */
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px; /* Altura da imagem do carrossel */
    }

    .navbar-toggler {
        margin-top: 10px; /* Ajuste o valor conforme necessário */
    }

    #logo-header {
    width: 100px; /* Definindo a largura do logo */
}
}
