/* Estilo da Seção Principal */
.inicial {
    text-align: center;
    padding-bottom: 0px;
    margin-top: 0px; /* Garante que não há margem superior */
}

.inicial h1, .inicial h2 {
    margin-top: 0px;
    padding-top: 0px;
}

.clientes {
    text-align: center;
    margin-top: 20px;
}

.arraste {
    margin-bottom: 20px;
}

.watch-sld {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 10px;
    scroll-behavior: smooth;
    gap: 10px;
}

.watch-sld .slide {
    flex: 0 0 auto;
    max-width: 400px;
    width: 100%;
    /* Removendo a borda */
    border: none; 
    border-radius: 10px;
    transition: transform 0.3s;
    cursor: pointer;
}

.watch-sld img {
    max-width: 100%;
    border-radius: 5px;
}

.watch-sld .slide:hover {
    transform: scale(1.05);
}

/* Ajuste apenas para dispositivos móveis */
@media (max-width: 768px) {
    .watch-sld .slide {
        max-width: 80%;
    }
}
