* {
  padding: 0;
  margin: 0;
}
header {
  padding-top: 20px;
  padding-bottom: 25px;
  display: inline-block;
  list-style: none;
  width: 100%;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, 0.1);
  background-color: white;
  background-image: url("../_imagens/background-mobile.jpg");
}

#logo {
  position: relative;
  margin-left: 10%;
  top: 40px;
  width: 80px;
}

nav#menu {
  text-align: right;
}

nav#menu ul li {
  display: inline;
  margin: 15px 20px;
  font-size: 8pt;
}
nav#menu ul {
  margin-left: 50%;
}

nav#menu a {
  color: #003feb;
  text-decoration: none;
  font-size: 10pt;
}

nav#menu a:hover {
  color: #02165b;
}
label[for="bt_menu"] {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  background-color: #003feb;
  text-align: center;
  font-size: 16pt;
  cursor: pointer;
  width: 35px;
  height: 35px;
  color: #ffffff;
  border: none;
  text-decoration: none;
}
.bt_menu {
  color: #ffffff;
}
.bt_menu a {
  color: #ffffff;
  text-decoration: none;
}

#logo {
  float: left;
  margin-top: -50px;
}
.iconeMenu {
  width: 23px;
  margin-right: 5px;
  vertical-align: middle;
}

#bt_menu {
  display: none;
}

label[for="bt_menu"] {
  display: none;
}

/* fim do header */

.fabrica {
  background-color: #f9f9f9;
  padding: 50px 5%;
  text-align: center;
}

.alinhamento,
.fabrica {
  width: 100%;
  margin: 0 auto;
}
.inicial {
  text-align: center;
  padding-top: 30px;
}
.titulo-principal {
  color: #02165b;
  font-size: 25pt;
}
.subtitulo {
  font-size: 17pt;
  color: #02165b;
}
.inicial h2 {
  font-weight: normal;
}
.meta {
  margin-top: 30px;
}
.global-page-container {
  width: 100%;
  display: inline-block;
  margin: auto;
  height: 100%;
}

.watch-slider {
  padding: 50px 0 20px 0;
  overflow: hidden;
}

.watch-slider .slide {
  transform: scale(0.6);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  outline: none !important;
  cursor: grab;
}

.watch-slider .slide.slick-center {
  transform: scale(1);
}

.arrow {
  display: inline-block;
  margin: 0 10px;
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: 70% auto;
  background-position: center;
  cursor: pointer;
  vertical-align: middle;
}

#arrow-prev {
  background-image: url("../imagens/arrow_prev.svg");
}

#arrow-next {
  background-image: url("../imagens/arrow_next.svg");
}

.description {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  width: 200px;
  vertical-align: middle;
  font-family: "Poppins";
  font-weight: 300;
  color: #3a3a3a;
}

#watch-price {
  color: #ff5722;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 28px;
}

/* **********************************************************************************************
***********************************   MEDIA QUERIES   ******************************************* 
********************************************************************************************** */

/* Small Screens *****************************************************************************/

@media only screen and (max-width: 640px) {
}

/* End of small Screens*/

/* Medium Screens ****************************************************************************/

@media only screen and (min-width: 641px) and (max-width: 1023px) {
  .watch-slider .slide {
    width: 33%;
  }
}

/* End of Medium Screens*/

/* Large Screens *****************************************************************************/

@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .global-page-container {
    width: 1024px;
  }
}

/*   End of Large Screens*/

/* Extra Large Screens ***********************************************************************/

@media only screen and (min-width: 1441px) {
  .global-page-container {
    width: 1440px;
  }
}

/* End of Extra Large Screens*/
.subtitulo2 {
  font-size: 12pt;
  font-weight: normal;
}
.orcamento1 {
  background-color: #002eaf;
  color: white;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  margin-bottom: -30px;
}
.orcamento2 {
  background-color: #fff;
  text-align: center;
}

.orcamento2 .form {
  margin-top: 30px;
}

.orcamento h2 {
  font-size: 12pt;
  font-weight: bold;
}
.bottom {
  background-color: #002eaf;
  font-weight: bold;
  color: white;
  padding: 15px 85px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
}
.bottom:hover {
  background-color: #003feb;
  cursor: pointer;
}
.field1 {
  border-radius: 5px;
  border: solid 2px #02165b;
}
.sobre {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #f9f9f9;
  padding-left: 5%;
  padding-right: 5%;
}
.sobre1 {
  display: inline-flex;
  margin-top: 30px;
  text-align: left;
}
.fotos {
  width: 20%;
}
.texto {
  width: 80%;
  margin-left: 10px;
}
.fundador {
  max-width: 100%;
  width: 90%;
  margin-bottom: 70px;
}
.background-fabrica {
  background-color: #f9f9f9;
}
.fabrica {
  padding-top: 50px;
  padding-bottom: 50px;
}
.fabrica h3,
.fabrica ol li {
  margin-left: 5%;
  margin-right: 5%;
}

.iconsp {
  width: 50px;
}
.fabrica figure,
.qualidades figure {
  margin-top: 30px;
  display: inline-block;
  vertical-align: top;
  padding: 10px;
  width: 150px;
}

.qualidades li {
  margin: 15px;
  width: 300px;
  position: relative;
}

.fabrica ol,
.qualidades ol {
  margin: 0 auto;
  width: 100%;
}
.qualidades figure {
  width: 300px;
  margin-right: 30px;
  margin-left: 30px;
}

.overlay-text {
  position: relative;
  text-align: center;
  color: white;
  padding: 10px; /* Ajuste o padding conforme necessário */
}

.overlay-text h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.overlay-text p {
  font-size: 14px;
  margin-bottom: 10px;
}

.supplier-logos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.supplier-logo {
  width: 50px;
  height: auto;
  margin: 0 8px;
}

.qualidades {
  padding: 50px 10%;
  background-color: #f9f9f9;
}

qualidades .icons,
.qualidades .overlay-text {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Esconde o verso do elemento */
  transition: transform 0.8s ease-in-out;
}

.qualidades .icons {
  width: 100%;
  height: auto;
  display: block;
}

.qualidades ol {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.qualidades .background-fabrica {
  padding-bottom: 30px;
}

.qualidades .position-relative {
  width: 150px;
  height: 150px;
  margin: 15px;
  perspective: 1000px; /* Adiciona perspectiva para efeito 3D */
  position: relative;
}

figure {
  width: 300px; /* Aumente a largura do card */
  height: auto; /* Ajuste a altura automaticamente */
  margin: 15px; /* Ajuste as margens conforme necessário */
  position: relative;
}

.qualidades figure {
  margin: 0;
  position: relative;
}

.qualidades .overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 10px;
}

.qualidades figure:hover .icons {
  transform: rotateY(180deg);
  opacity: 0;
}

.qualidades figure:hover .overlay-text {
  opacity: 1;
}

/* Responsividade */
@media (max-width: 800px) {
  .qualidades {
    padding: 30px 5%;
  }

  .qualidades li {
    width: 100%;
  }

  .qualidades ol {
    flex-direction: column;
    align-items: center;
  }
}

.cotacao {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
.cotacao h2 {
  color: #002eaf;
  font-size: 25pt;
}
.cotacao h3 {
  font-size: 12pt;
  font-weight: normal;
}
.form {
  margin-top: 30px;
}
.field1 {
  padding: 18px;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 10px;
  margin-top: 12px;
  border: solid 2px #02165b;
}
.concord {
  margin-top: 15px;
}

.minitxt a {
  color: #002eaf;
  font-size: 10pt;
}
.wpp {
  position: relative;
  display: inline-block;
  background-color: #002eaf;
  margin-top: 20px;
  padding: 10px;
  color: white;
}

/* Estilo do balão de texto */
.wpp::after {
  content: "Faça um orçamento"; /* Texto do balão */
  position: absolute;
  bottom: 100%; /* Coloca o balão acima do botão */
  left: 50%;
  transform: translateX(-50%);
  background-color: #4caf50; /* Cor de fundo do balão */
  color: #fff; /* Cor do texto do balão */
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap;
  opacity: 0; /* Inicialmente oculto */
  visibility: hidden; /* Inicialmente oculto */
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 10; /* Garante que o balão fique sobre outros elementos */
}

/* Mostrar balão de texto ao passar o mouse */
.wpp:hover::after {
  opacity: 1;
  visibility: visible;
}

.wpp2 {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 10px;
}
.watch-sld .slide {
  transition: 0.3s;
  cursor: grab;
  height: auto;
  outline: none !important;
  overflow-x: hidden;
  margin-top: 100px;
}
.arraste {
  background-color: #f9f9f9;
  color: black;
  text-align: center;
  margin-top: 20px;
  padding: 5px;
  margin-bottom: -100px;
}
.arraste p {
  font-size: 9pt;
  font-weight: bold;
}
.seta {
  width: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

footer {
  background-color: #02165b;
}

footer ol li {
  display: inline-block;
  padding: 30px 20px;
  vertical-align: top;
  width: 20%;
  text-align: left;
  margin-top: 50px;
}
footer ol {
  margin-left: 5%;
}

footer ol li a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: white;
}
footer ol li a:hover {
  color: #002eaf;
}

footer ol li h3 {
  color: #0035c7;
}

.end {
  font-size: 8pt;
  padding-top: 0;
  margin-left: 7%;
  margin-right: 7%;
  padding-bottom: 0;
  align-items: center;
}

.end a,
.end p {
  color: white;
  text-decoration: none;
  align-items: center;
}

#logo2 img {
  margin-left: -5px;
  width: 100px;
  align-items: center;
}
.formnew .bottom4 {
  font-size: 9pt;
}

.form-check-label {
  font-size: 10pt;
}

.form-text {
  color: #002eaf;
  font-size: 10pt;
}

@media (max-width: 600px) {
  #logo {
    margin-left: 5%;
  }
  nav#menu a {
    color: #003feb;
    font-size: 13pt;
    font-weight: bold;
  }
  .menu {
    margin-left: -200%;
    transition: all 0.4s;
  }
  nav#menu ul {
    margin-left: 5%;
    margin-top: 10px;
  }
  .menu ul li {
    float: none;
    height: 50%;
    text-align: left;
    margin-top: 10px;
  }
  .menu ul li a {
    display: block;
    margin-left: 20px;
  }
  .field {
    width: 100%;
    text-align: center;
  }
  nav#menu {
    position: absolute;
    left: 0;
    top: 80px;
    display: block;
    background-color: white;
    width: 50%;
    text-align: center;
    z-index: 1;
    padding-bottom: 400px;
  }
  label[for="bt_menu"] {
    display: flex;
    align-items: center;
    margin-left: 50%;
    margin-top: 12px;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  #bt_menu:checked ~ .menu {
    margin-left: 0;
  }

  footer ol li {
    width: auto;
  }
  .fabrica {
    width: 100%;
    text-align: center;
  }
  .qualidades {
    padding-right: 40px;
  }
}
@media (min-width: 800px) {
  header {
    padding-bottom: 30px;
  }
  nav#menu {
    text-align: center;
    margin-top: 25px;
  }
  nav#menu a {
    font-weight: bold;
  }
  .alinhamento {
    max-width: 100%;
  }
  .fabrica {
    max-width: 100%;
    text-align: center;
  }
  .fabrica ol,
  .qualidades ol {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}

body.dark-theme {
  background-color: #333;
  color: #fff;
}

/* Outros estilos específicos para o tema escuro */
body.dark-theme .orcamento1 {
  background-color: #222; /* Cor de fundo mais escura para o formulário */
}

/* Estilos gerais do rodapé */
footer {
  background-color: #003366;
  color: #fff;
  padding: 20px;
  font-size: 14px;
  width: 100%;
}

footer #logo2 {
  /* Altere o seletor para #logo2 */
  display: flex; /* Use flexbox para o layout */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente (opcional) */
  width: 100%; /* Ocupa a largura total do rodapé */
}

footer ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer ol li {
  margin: 0;
  flex: 1;
  min-width: 150px;
}

footer ol li h3 {
  margin-top: 0;
  font-size: 16px;
  color: #f0f0f0;
  font-weight: bold;
}

footer ol li a {
  color: #d0d0d0;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
  font-weight: normal;
}

footer ol li a:hover {
  color: #f0f0f0;
}

footer ol li a.catálogo {
  font-weight: bold;
}

footer .social-icons {
  display: flex;
  justify-content: flex-start;
}

footer .social-icons a {
  margin-right: 10px;
}

footer .social-icons img {
  width: 30px;
  height: auto;
}

footer .social-icons a:hover img {
  opacity: 0.8;
}

footer .end {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

footer .end a,
footer .end p {
  color: white;
  text-decoration: none;
}

footer .end a:hover {
  text-decoration: underline;
}

/* Botão WhatsApp */
footer .wpp {
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: var(--s);
  height: var(--s);
  border-radius: 50%;
  background: rgb(0 0 0 / 0) var(--joinchat-ico) 50% no-repeat;
  background-size: 60%;
  overflow: hidden;
}

footer .wpp svg {
  width: 50px;
  height: 50px;
  fill: #fff;
}

/* Logo no final do rodapé */
footer #logo2 img {
  width: 150px;
  margin: 0 auto;
}

/* Estilos do mapa em miniatura */
.map-link {
  display: block;
  margin-top: 10px;
}

.map-thumbnail {
  width: 100%;
  height: auto;
  border-radius: 8px;
  transition: opacity 0.3s;
}

.map-thumbnail:hover {
  opacity: 0.8;
}

/* Estilos Básicos da Seção */
.referencias {
  padding: 20px 0; /* Espaçamento interno da seção */
  text-align: center; /* Centraliza o título */
}

/* Carrossel de Logotipos (Slick Carousel) */
.logo-carousel {
  width: 100%; /* Largura do carrossel */
  margin: 0 auto; /* Centraliza o carrossel */
}

.logo-carousel .slick-next {
  display: none !important;
}

.logo-carousel .slick-prev {
  display: none !important;
}

/* Estilos para cada slide do carrossel */
.logo-carousel div {
  margin: 0 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-carousel img {
  max-width: 100%; /* Garante que as imagens não ultrapassem a largura do slide */
  height: auto; /* Mantém a proporção das imagens */
  align-items: center;
  /* max-width: 250px; 
  max-height: 100px; 
  width: auto;
  height: auto;
  object-fit: contain; */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.card-container {
  margin-top: 40px;
  display: flex;
  gap: 20px; /* Ajuste a distância entre os cards */
  justify-content: center; /* Alinha os cards com espaçamento uniforme */
  flex-wrap: wrap; /* Permite que os cards quebrem para a linha seguinte se não houver espaço suficiente */
}

.flip-card-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os cards se movam para a linha seguinte se não caberem na mesma linha */
  justify-content: center; /* Alinha os cards horizontalmente no centro */
  padding: 20px;
  gap: 20px; /* Espaçamento entre os cards */
}

.flip-card {
  background-color: transparent;
  width: 350px; /* Largura dos cards */
  height: 400px; /* Altura dos cards */
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px; /* Ajustado para melhor espaçamento */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flip-card-front img {
  max-width: 100%; /* Reduz a imagem para se ajustar dentro do card */
  max-height: 100%; /* Mantém a proporção da imagem */
  object-fit: cover; /* Ajusta a imagem sem distorcer */
}

.flip-card-back {
  background-color: #004268;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flip-card-back h2 {
  margin: 0 0 10px 0;
}

.flip-card-back p {
  margin: 0 0 10px 0;
}

.flip-card-back img.icons {
  max-width: 60px; /* Ajustado para tamanho adequado */
  height: auto;
  margin-top: 10px;
}

.fabrica .flip-card {
  width: 250px; /* Largura dos cards */
  height: 300px; /* Altura dos cards */
  margin: 5px;
  perspective: 1000px;
  display: inline-block; /* Para alinhamento em linha */
}

.fabrica .flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.fabrica .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.fabrica .flip-card-front,
.fabrica .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.fabrica .flip-card-front {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px; /* Ajuste o padding conforme necessário */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fabrica .flip-card-front img {
  max-width: 90%; /* Ajusta a imagem dentro do card */
  max-height: 90%; /* Mantém a proporção da imagem */
  object-fit: cover; /* Ajusta a imagem sem distorcer */
}

.fabrica .flip-card-back {
  background-color: #004268;
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.fabrica .flip-card-back h2 {
  margin: 0 0 10px 0;
}

.fabrica .flip-card-back p {
  margin: 0;
}

@media (max-width: 800px) {
  .fabrica .flip-card {
    width: 100%;
    height: auto;
  }
}

.timeline {
  list-style: none;
  position: relative;
  padding: 0;
  margin: 0;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #007bff;
  left: 50%;
  margin-left: -1px;
}

.timeline > li {
  list-style: none;
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  padding-left: 50px;
}

.timeline > li:before {
  list-style: none;
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  background: #007bff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

/* .timeline-badge {
  background: #007bff;
  color: white;
  border-radius: 0;
  width: 60px;
  height: 60px;
  line-height: 30px;
  text-align: center;
  align-items: center;
  font-size: 16px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
} */

.timeline-panel {
  position: relative;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
}

.timeline-heading h4 {
  margin-top: 0;
  color: #007bff;
}

.timeline-body p {
  margin-bottom: 0;
}
